# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# NPM package lock file
/package-lock.json

# project configuration environment file
src/environments/environment.prod.ts
/projects/speechrecorderng/node_modules/tslib/
/projects/speechrecorderng/package-lock.json
/src/environments/environment.demo.ts
/src/test/project/Demo1/session/2/recfile/VL1/0.webm
/src/test/recordingfile/big_buck_bunny_trailer_480p_logo.json
/src/test/recordingfile/big_buck_bunny_trailer_480p_logo.webm
/messages.xlf
