<mat-toolbar color="primary">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
      <button mat-menu-item  [matMenuTriggerFor]="helpMenu">Help</button>
      <mat-menu #helpMenu="matMenu" xPosition="after" [overlapTrigger]="false">
        <p>WebSpeechRecorderNg {{sprVersion}}</p>
      </mat-menu>
    </mat-menu>
    &nbsp;<span>{{title}}</span>


</mat-toolbar>
<router-outlet></router-outlet>

