<md-toolbar color="primary">

    <button md-button [mdMenuTriggerFor]="menu">
      <md-icon>menu</md-icon>
    </button>
    <md-menu #menu="mdMenu" yPosition="below" [overlapTrigger]="false">
      <button md-menu-item  [mdMenuTriggerFor]="helpMenu">Help</button>
      <md-menu #helpMenu="mdMenu" xPosition="after" [overlapTrigger]="false">
        <p>WebSpeechRecorderNg {{sprVersion}}</p>
      </md-menu>
    </md-menu>
    &nbsp;<span>WebSpeechRecorder</span>


</md-toolbar>
<router-outlet></router-outlet>

