<mat-toolbar color="primary">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item routerLink='wsp/project' routerLinkActive='active'>Projects</button>
        <button mat-menu-item routerLink='wsp/project/{{projectName}}/session' routerLinkActive='active' [disabled]="!projectName">Sessions</button>
        <button mat-menu-item routerLink='wsp/project/{{projectName}}/script' routerLinkActive='active' [disabled]="!projectName">Scripts</button>
      <button mat-menu-item  [matMenuTriggerFor]="helpMenu">Help</button>
      <mat-menu #helpMenu="matMenu" xPosition="after" [overlapTrigger]="false">
        <p>WebSpeechRecorderNg {{sprVersion}}</p>
      </mat-menu>
    </mat-menu>
    &nbsp;<span fxShow.xs="false">{{title}}</span><span fxShow.xs="true" fxShow="false">{{shortTitle}}</span>
    <span class="fill-remaining-space"></span>
    <button *ngIf="(projectName!=null)" mat-button routerLink='wsp/project/{{projectName}}/session'>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>

