<mat-card-content>
<ul>
  <p *ngIf="projects && projects.length==0">No associated projects found.</p>
  <li *ngFor="let project of projects">
    {{project.name}}
    <button mat-raised-button (click)="select(project)">Select project</button>

  </li>
</ul>
</mat-card-content>
<mat-card-content>
<form [formGroup]="projectForm">


    <mat-form-field>
        <mat-error *ngIf="nameField.invalid">Project name invalid.</mat-error>
    <label for="name">Name</label>
    <input id="name" formControlName="name" matInput autocomplete="off">


    </mat-form-field>

    <button mat-raised-button [disabled]="projectForm.invalid" (click)="addNewProject()">New project</button>
</form>

</mat-card-content>
