<!--
<mat-card>
  <mat-card-header>
    <mat-card-title>Add new script</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form  class="flexForm" [formGroup]="scriptForm">


      <mat-form-field>

        <label for="name">Name</label>
        <input id="name" formControlName="name" matInput autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">


      </mat-form-field>

      <button mat-raised-button [disabled]="scriptForm.invalid"  color="primary" (click)="addNewScript()"><mat-icon>add_box</mat-icon> New script</button>
    </form>
  </mat-card-content>
</mat-card>
-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Import script for project <span  class="monospaced">"{{projectName}}"</span></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="importScript()" ngForm>

      <input #scriptFileInput [hidden]="true" type="file" accept="application/xml, text/xml" (change)="importFileChanged($event)">
      <button mat-raised-button #uploadButton  color="primary" (click)="uploadScriptFiles();scriptFileInput.click()">Upload script XML file</button>


      <mat-spinner *ngIf="uploading" diameter="20"></mat-spinner>
      <ul *ngIf="importFileList!=null">
        <li *ngFor="let fileEntry of importFileList">{{fileEntry.name}}</li>
      </ul>
      <button mat-raised-button type="submit"  color="primary" [disabled]="!isImportable()">Import</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Scripts of project <span  class="monospaced">"{{projectName}}"</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="scripts">

      <ng-container matColumnDef="scriptId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell class="monospaced" *matCellDef="let element">{{element.scriptId}}</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell class="monospaced" *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

